* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 640px;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.justify-around {
  justify-content: space-around;
}

.circle {
  bottom: 0;
  border-bottom: 1px solid rgba(131, 128, 128, 0.133);
  border-right: 1px solid rgba(131, 128, 128, 0.133);
  border-radius: 0 0 100% 0;
}

.ellipse {
  border-left: 1px solid rgba(131, 128, 128, 0.133);
  border-top: 1px solid rgba(131, 128, 128, 0.133);
  border-right: 1px solid rgba(131, 128, 128, 0.133);
  border-bottom: 1px solid rgba(131, 128, 128, 0.133);
  height: 87vh;
  width: 96%;
  right: 0%;
  top: -0.2%;
  border-radius: 50%;
}

.circlMiddle {
  height: 60%;
  width: 100%;
  position: absolute;
  border-right: 1px solid rgba(131, 128, 128, 0.133);
  border-top: 1px solid rgba(131, 128, 128, 0.133);

  border-radius: 0 100% 0 0;
  z-index: 3;
}

.circlDown {
  position: absolute;
  height: 44%;
  width: 30%;
  right: 0;
  bottom: 0%;
  border-right: 1px solid rgba(131, 128, 128, 0.133);
  border-radius: 0 0 90% 0;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-1-2 {
  width: 50%;
}

.h-1-2 {
  height: 50%;
}

.divDownLeft {
  position: absolute;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgba(131, 128, 128, 0.133);
  z-index: 4;
}
.border-b {
  border-bottom: 1px solid rgba(131, 128, 128, 0.133);
}

.border-tt {
  border-top: 1px solid rgba(131, 128, 128, 0.133);
}

.border-t {
  border-top: 1px solid rgba(131, 128, 128, 0.47);
}
.border-r {
  border-right: 1px solid rgba(131, 128, 128, 0.133);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.orange {
  background-color: #ff6635;
}
.b-0 {
  bottom: 0%;
}

.rounded-t-l {
  border-top-left-radius: 0.4rem;
}
.rounded-t-r {
  border-top-right-radius: 0.4rem;
}

.s-home {
  width: 80%;
  height: 75%;
  padding-top: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

.my {
  width: 100%;
  height: 100%;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0 100%, 0 27%);
  background-color: #ff6635;
}

.custom-shape {
  width: 85px;
  height: 90px;
  background-color: rgb(147, 139, 139);
  cursor: pointer;
  transform: rotate(1deg);
  clip-path: polygon(
    100% 53.33%,
    82.5% 68.84%,
    0% 68.84%,
    0% 45.99%,
    16.27% 29.95%,
    100% 29.95%
  );
  color: white;
  font-size: 20px;
}

.text-slate {
  color: rgb(85, 91, 98);
}

.bg-black {
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.text {
  z-index: 6;
  font-weight: 500;
  font-size: 13.3vh;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
  color: transparent;
  text-transform: uppercase;
  /* text-shadow: 0 0 0 #333333; */
  background: linear-gradient(
    260deg,
    black 25%,
    white 25%,
    white 33%,
    black 22%,
    black 37.5%,
    white 37.5%,
    white 58%,
    black 58%,
    black 59.9%,
    white 59.9%,
    white 67%,
    black 67%,
    black 69%,
    white 69%,
    white 70.5%,
    black 70.5%
  );

  -webkit-background-clip: text;
}

.text-down {
  z-index: 6;
  font-weight: 500;
  font-size: 13.3vh;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
  color: transparent;
  text-transform: uppercase;
  /* text-shadow: 0 0 0 #333333; */
  background: linear-gradient(
    279deg,
    black 23%,
    white 23%,
    white 28.5%,
    black 28.5%,
    black 36%,
    white 36%,
    white 60%,
    black 60%,
    black 64.2%,
    white 64.2%,
    white 74%,
    black 74%
  );

  -webkit-background-clip: text;
}

.alink {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 10px;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.6;
}

.alink:hover {
  opacity: 1;
}

.tts {
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: small;
  opacity: 0.6;
}

.brackets {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: small;
  opacity: 0.6;
}

.header {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -1px;
}
.header:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.home {
  opacity: 0.7;
  font-weight: 530;
  font-size: smaller;
  letter-spacing: -0.2px;
}
.home:hover {
  opacity: 0.9;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.txtlogo {
  display: flex;
  justify-content: center;
  transform: rotate(270deg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.aboutus {
  transform: rotate(269.5deg);
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.6px;
}

.tts:hover {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.textld {
  font-family: "Quicksand", sans-serif;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-size: small;
  line-height: 1.5;
}
.no-select {
  user-select: none;
}
.cur-pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
