*{
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 640px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.items-center{
  align-items: center;
}
.items-end{
  align-items: flex-end;
}

.gri{
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 30%;
  
}

.semi-circle {
  width: 100%;
  height: 10rem;
  border: 10px solid #000; /* Border width and color */
  background-color: #fff;
  border-radius: 10rem 10rem 0 0;
  bottom: 0;
  transform: rotate(180deg);
}

.half-circle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #000; 
  border-radius: 50px 50px 0 0; 
}

.circle {
  bottom: 0;
  border-bottom: 1px solid rgba(131, 128, 128, 0.32);
  border-right: 1px solid rgba(131, 128, 128, 0.32);
  border-radius: 0 0 100% 0; 
  width: 96%; 
  height: 100%; 
}

.leftcircle{
    right: 5px;
    border-top: 1px solid rgba(131, 128, 128, 0.32);
    border-left: 1px solid rgba(131, 128, 128, 0.32);
    border-radius: 100% 0 0  0 ; 
    width: 96%; 
    height: 100%; 
}

.rightcircle{
  /* border-top: 1px solid red; */
  border-top: 1px solid rgba(131, 128, 128, 0.32);
  border-right: 1px solid rgba(131, 128, 128, 0.32);
  border-radius:    0 120rem   0 0  ;
  width: 100%;
  height: 100%;

}